.header{
  height: 20vh;
  width: 100%;
  background-color: black;
}
.center{
  height: 70vh;
  width: 75%;
  background-color: lightblue;
  margin: auto;
}
.footer{
  background-color: black;
  margin: auto;
  width: 75%;
  height: 10vh;

}
